label {
    font-weight: bold;
    font-size: 16px;
    color: #5f5f5f;
}

input {
    background-color: #e0e0e0;
}

h2 {
    color: lightgray;
    text-shadow: black 1px 1px 10px;
}

.control-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding: 2px 8px 2px 8px;
    background-color: gray;
    border-radius: 8px;
    align-items: center;
}

.control-group {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: darkgray;
    padding: 0px 16px 0px 16px;
    border: 1px solid black;
    border-radius: 8px;
    min-height: 48px;
}

.play-toggle.mat-button-toggle-checked {
    background-color: #4caf50;
}

.pause-toggle.mat-button-toggle-checked {
    background-color: #f44336;
}

.mat-mdc-icon-button {
    background-color: darkgray;
    color: white;
}